$color-link-hover: #217ED3;
$color-link: #2196F3;
$bg-link-delete: #F34336;

.ribs-checkbox * {
	box-sizing: initial !important;
}

.ribs-checkbox {
	input {
		display: none;
	}

	/*for input type checkbox*/
	&.rounded {
		input {
			&:checked + span {
				border-color: $color-link-hover;
				transition-duration: 0.3s;
			}

			&:checked + span:after {
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				background-color: $color-link-hover;
				position: absolute;
				top: 2px;
				left: 2px;
				border-radius: 2px;
			}
		}

		span {
			background-color: #FFF;
			border: 3px solid $color-link;
			width: 9px;
			height: 9px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 8px;
			position: relative;
		}
	}
	
	/*for the check*/
	&.checked {
		input {
			&:checked + span {
				border-color: $color-link-hover;
				background-color: $color-link-hover;
				transition-duration: 0.3s;
				
				&:after {
					content: '';
					display: block;
					width: 5px;
					height: 12px;
					position: absolute;
					border: solid #FFF;
					border-width: 0 3px 3px 0;
					transform: rotate(45deg);
					top: -2px;
					left: 4px;
				}
			}
		}
		
		span {
			background-color: #FFF;
			border: 3px solid $color-link;
			width: 15px;
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
		}
	}

	/*for the switch*/
	.switch {
		width: 2.1875rem;
		height: 1.125rem;
		border-radius: 100px;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;

		.switch-container {
			display: inline-block;
			width: 130px;
			margin-left: -51px;
			transition-duration: 0.3s;
		}

		.on, .off {
			display: inline-block;
			float: left;
			background-color: $color-link;
			width: 50%;
			height: 20px;
			padding: 4px 0;
			z-index: 1;
			position: relative;
		}

		.off {
			background-color: $bg-link-delete;
		}

		.mid {
			display: inline-block;
			float: left;
			margin-left: -14px;
			margin-right: -14px;
			z-index: 2;
			position: relative;
			background: $bg-link-delete;
			transition-duration: 0.3s;
			
			span {
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #FFF;
				border: 4px solid $bg-link-delete;
			}
		}

		input:checked + .switch-container {
			margin-left: -34px;

			.mid {
				background: $color-link;
				
				> span {
					border-color: $color-link;
				}
			}
		}
	}

	&:hover {
		cursor: pointer;
	}
}
